@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i,900,900i&display=swap');
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}
*,html{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.sticky {
  position: fixed;
  top: 100;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.tab{
  width:100%;
  padding:25px;
  font-family:sans-serif;
  color:#444;
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
ul.inline li {
  display: inline-block;
  margin-left: 50 !important;
  padding: 16px;
  cursor: pointer;
  font-size: 14px;
}
ul.inline li.selected {
  border-bottom: 4px solid #00B6B1;
  color: #000;
  font-weight: 600;
}

::-webkit-scrollbar{
  width:2px;height:2px;
}

.main {
  display: flex;
  align-items: center;
  min-height: 48px;
}


.image {
  height: 100px;
  width: 100px;
  font-size: 25px;
  background: blue;
  margin: 10px;
  display: inline-block;
  line-height: 100px; 
}


.image-container {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: -11px;
}

.prev, .next {
  /* padding-top: 10px;
  padding-bottom: 10px; */
  height: 100%;
  cursor: pointer;
  color:rgba(0,0,0,0.4);
  transition: 0.6s ease;
}

.next {
  margin-left: 5px;
}

.prev {
  margin-right: 5px;
}

.prev:hover, .next:hover {
  color:rgba(0,0,0,1);
  height: 100%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    cursor: pointer;
}

p:text{
  color: 'grey';
  padding: 30;

}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20 ;
  padding: 5px;
  background-color: #fff;
  border: 2px solid transparent;
}


